<div class="w3-container w3-padding-64 ">

    <h1>{{album.ime}}</h1>
    <p>{{album.opis}}</p>
</div>

<div class="w3-content w3-display-container" style="max-width:1200px" ng-swipe-left="prevImg()" ng-swipe-right="nextImg()">
    <img ng-src="{{slike[index].lokacija}}" style="width:100%" ng-swipe-left="prevImg()" ng-swipe-right="nextImg()">
    <a class="left carousel-control" role="button" data-slide="prev" ng-click="prevImg()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" role="button" data-slide="prev" ng-click="nextImg()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <br>

</div>

<br><br>
