<!-- Header -->

<header class="w3-container w3-red w3-center w3-padding-2 row" ng-cloak>
    <div id="wrapper">
        <div id="carousel">
            <div class="image" ng-repeat="vijest in vijesti">
                <img ng-src="{{vijest.slika}}" />
                <h2 class="naslov-slike">{{vijest.naslov}}</h2>

            </div>
        </div>

        <div id="pager" class="pager"></div>
    </div>




</header>

<div id="vijesti-container">
<div class="row">
    <button class="btn btn-success" ng-click="dodajToggle()" ng-show="!add && level=='admin'">Dodaj vijest</button>
    <button class="btn btn-danger" ng-click="dodajToggle()" ng-show="add">Nemoj dodati!</button><br>
    <div class="well col-12" ng-show="add">
        <form name="novaVijest" novalidate ng-submit="addVijest(novaVijest.$valid)">
            <fieldset class="form-group" ng-class="{'has-error': novaVijest.naslov.$invalid && !novaVijest.naslov.$pristine}">
                <label>Naslov:</label>
                <input name = "naslov" class="form-control" type="text" ng-model="new.naslov" required>
            </fieldset>
            <fieldset class="form-group"">
                <label>Slika:</label>
                <input name = "naslov" class="form-control" type="file"  id="slika">
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error': novaVijest.tekst.$invalid && !novaVijest.tekst.$pristine}">
                <label>Sadržaj:</label><br>
                <textarea name="tekst" id="editor2" ng-model="new.tekst"></textarea>
            </fieldset>
            <button class="btn btn-success" ng-disabled="novaVijest.$invalid">Dodaj vijest</button>
        </form>
    </div>
</div>
<div class="row" >
    <div ng-class="editId == key ? 'col-md-12 col-sd-12' : 'col-md-6 col-sd-12' " ng-repeat="(key, value) in vijesti">
        <div class="col-md-4">

            <img ng-src="{{value.slika}}" width="95%"/><br>
            <button ng-hide="editId!=key" class="btn btn-info">Promijeni sliku</button>

        </div>

        <div class="col-md-8">
            <h6 class="w3-text-grey">{{value.timestamp | date: "dd.MM.y - H:mm " }}</h6>
            <h3 ng-hide="editId==key" class="w3-text-red">{{value.naslov}}</h3>
            <p ng-hide="editId!=key"><input type="text" class="form-control col-6" ng-model="value.naslov" ></p>
            <!--<h5 class="w3-padding-32">Napisao/la {{value.autor}}</h5>-->




            <div ng-hide="editId==key" class="w3-text-black">
                <div ng-bind-html="value.sadrzaj"></div>
            </div>
            <p ng-hide="editId!=key"><textarea name="editor1" id="editor1" ng-model="value.sadrzaj" cols="75" rows="10"></textarea></p>
            <button ng-hide="editId==key || level!='admin'" class="btn btn-info" ng-click="setEdit(key)">Uredi</button>
            <button ng-hide="editId!=key" class="btn btn-info" ng-click="doneEditing(key)">Gotovo</button>

            <button class="btn btn-danger" ng-click="delete(key)" ng-hide="level!='admin'">Obriši</button>
        </div>

    </div>


</div>
</div>

